<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src="https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/-75.7664,39.1798,4.56,0/300x200?access_token=pk.eyJ1IjoiaG1kMTgiLCJhIjoiY2tsNWI2dzNxMG1vdjJubjFyMW5yd250cSJ9.qNfTWmslmCN5VHX9hJoF-A"
    
    width={{@width}} height={{@height}}
  >
</div>
