<Jumbo>
    <h2>Welcome to Travelster!</h2>
    <p>We hope you find exactly what you are looking for in a place to stay</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
    <LinkTo @route="contact" class="button">Get in Touch</LinkTo>
</Jumbo>

    
<div class="rentals">
  <ul class="results">

    {{!-- here, the \@ symbol is used  
        =>  because, the "model" is passed as the argument TO index.hbs FROM index.js file from  "routes" folder  --}}
    {{!-- here, "this.model" can also be used
        =>  because, 'based on ember's nature, the files from "routes", "components", "templates" with SAME FILE NAME
            are visually isolated but INTERNALY INTERLINKED --}}
    <li><Rental @rental={{@model}} /></li>
    <li><Rental @rental={{@model}} /></li>
    <li><Rental @rental={{@model}} /></li>
  </ul>
</div>

